body {
    background-color: #f0f0f0; /* Cambia el color de fondo como desees */
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    text-transform: uppercase;
}

p {
    font-size: 24px;
}